.main-container{
  display: flex;
  justify-content: center;
  background-color: grey;
}
.sub-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 94vw;
  background-color: grey;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
.map-container{
  width: 22.5vw;
  border-radius: 15px;
}

.title{
  text-align: center;
  color: white;
  align-items: center;
  font-size: 9px;
 
}
.img-container{
  display: flex;
  justify-content: center;

}
.img-poster{
  align-items:center;
  border-radius: 0px 0px 7px 7px;
  width: 13vw;
  margin-bottom: 1.5vh;
}
